body {
  border-right-style: solid!important;
  border-right-width: 1px!important;
  border-right-color: lightgrey!important;
  border-left-style: solid!important;
  border-left-width: 1px!important;
  border-left-color: lightgrey!important;
  background-color: rgb(232,236,236)!important;
}

img {
  max-width: 100%;
  padding: 10px

}

h1 {
  font-family: Montserrat, serif; 
  text-align: center;
  color: #FFFFFF;
  
}

h2 {
  font-family: Koulen, cursive;

}

h4 {
  font-family: Montserrat, serif;
  color: #FFFFFF;
  
}

h5 {
  font-family: Montserrat, serif;
}

.col-lg-12 {
  font-family: Arial, serif;
  padding: 10px; 
  color: #FFFFFF;
} 

.col-lg-6 {
  font-family: Arial, serif;
  size: 14px;
  padding: 10px; 

}


.col-lg-4 {
  font-family: Arial, serif;
  size: 14px;
  padding: 10px; 

}

.col-lg-8 a {
  color: blue!important;
  text-decoration: underline!important;
  text-decoration-color: ;
}

.col-lg-8 a:hover {
  text-decoration: underline!important;
  text-decoration-color: lightskyblue!important;
  color: lightskyblue!important;

}


.col-lg-9 p {
  font-family: "Basier", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ba2c0c;
  letter-spacing: 1px;
  text-align: right;
}



.kOuVbL {
    background-color: rgb(4, 36, 76);
    padding-top: 25px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 25px;
    width: 100%;
}

.kOuVbL p {
  color:  #FFFFFF;

}



a:link, a:visited, a:active {
  color: black!important;
  text-decoration: underline!important;
  text-decoration-color: black!important;

}

a:hover {
  text-decoration: underline!important;
  text-decoration-color: lightskyblue!important;
  color: lightskyblue!important;

}
